.m-button {
  line-height: 1.5;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 48px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #ebebeb;
}
.m-button > .m-icon {
  line-height: 1;
}
.m-button,
.m-button:active,
.m-button:focus {
  outline: 0;
}
.m-button:not([disabled]):hover {
  text-decoration: none;
}
.m-button:not([disabled]):active {
  outline: 0;
  -webkit-transition: none;
  transition: none;
}
.m-button.disabled,
.m-button[disabled] {
  cursor: not-allowed;
}
.m-button.disabled > *,
.m-button[disabled] > * {
  pointer-events: none;
}
.m-button-lg {
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  height: 60px;
}
.m-button-sm {
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
}
.m-button:hover,
.m-button:focus {
  color: #4bb1ff;
  background-color: #fff;
  border-color: #4bb1ff;
}
.m-button:active,
.m-button.active {
  color: #1d96f2;
  background-color: #fff;
  border-color: #1d96f2;
}
.m-button.disabled,
.m-button[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button.disabled:before,
.m-button[disabled]:before {
  display: block;
}
.m-button:hover,
.m-button:focus,
.m-button:active,
.m-button.active {
  background: #fff;
  text-decoration: none;
}
.m-button:hover,
.m-button:focus,
.m-button:active {
  background: #fff;
  text-decoration: none;
}
.m-button-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
}
.m-button-inner > .m-icon + span,
.m-button-inner > span + .m-icon {
  margin-left: 8px;
}
.m-button-primary {
  color: #fff;
  background-color: #1e9eff;
  border-color: #1e9eff;
}
.m-button-primary:hover,
.m-button-primary:focus {
  color: #fff;
  background-color: #4bb1ff;
  border-color: #4bb1ff;
}
.m-button-primary:active,
.m-button-primary.active {
  color: #fff;
  background-color: #1d96f2;
  border-color: #1d96f2;
}
.m-button-primary.disabled,
.m-button-primary[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-primary.disabled:before,
.m-button-primary[disabled]:before {
  display: block;
}
.m-button-ghost {
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border-color: #ebebeb;
}
.m-button-ghost:hover,
.m-button-ghost:focus {
  color: #4bb1ff;
  background-color: transparent;
  border-color: #4bb1ff;
}
.m-button-ghost:active,
.m-button-ghost.active {
  color: #1d96f2;
  background-color: transparent;
  border-color: #1d96f2;
}
.m-button-ghost.disabled,
.m-button-ghost[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-ghost.disabled:before,
.m-button-ghost[disabled]:before {
  display: block;
}
.m-button-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #ebebeb;
  border-style: dashed;
}
.m-button-dashed:hover,
.m-button-dashed:focus {
  color: #4bb1ff;
  background-color: #fff;
  border-color: #4bb1ff;
}
.m-button-dashed:active,
.m-button-dashed.active {
  color: #1d96f2;
  background-color: #fff;
  border-color: #1d96f2;
}
.m-button-dashed.disabled,
.m-button-dashed[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-dashed.disabled:before,
.m-button-dashed[disabled]:before {
  display: block;
}
.m-button-danger {
  color: #fff;
  background-color: #f5222d;
  border-color: #f5222d;
}
.m-button-danger:hover,
.m-button-danger:focus {
  color: #fff;
  background-color: #f74e57;
  border-color: #f74e57;
}
.m-button-danger:active,
.m-button-danger.active {
  color: #fff;
  background-color: #e9202b;
  border-color: #e9202b;
}
.m-button-danger.disabled,
.m-button-danger[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-danger.disabled:before,
.m-button-danger[disabled]:before {
  display: block;
}
.m-button-circle,
.m-button-circle-outline {
  width: 48px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 48px;
}
.m-button-circle.m-button-lg,
.m-button-circle-outline.m-button-lg {
  width: 60px;
  padding: 0;
  font-size: 18px;
  border-radius: 50%;
  height: 60px;
}
.m-button-circle.m-button-sm,
.m-button-circle-outline.m-button-sm {
  width: 30px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
  height: 30px;
}
.m-button:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: 0.4;
  content: '';
  border-radius: inherit;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
  display: none;
}
.m-button .m-icon {
  -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.m-button.m-button-loading:before {
  display: block;
}
.m-button-inline {
  display: inline-block;
}
.m-button-inline:not(.m-button-circle):not(.m-button-circle-outline) {
  width: auto;
}
a.m-button {
  line-height: 46px;
}
a.m-button-lg {
  line-height: 58px;
}
a.m-button-sm {
  line-height: 28px;
}
