/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #29d;
          box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.m-icon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.125em;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.m-icon svg {
  display: inline-block;
}
.m-icon:before {
  display: block;
}
.m-icon .m-icon-icon {
  display: block;
}
.m-icon-spin:before {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
          animation: loadingCircle 1s infinite linear;
}
.m-icon-spin {
  display: inline-block;
  -webkit-animation: loadingCircle 1s infinite linear;
          animation: loadingCircle 1s infinite linear;
}
@-webkit-keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadingCircle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
}
*[contenteditable] {
  -webkit-user-select: auto !important;
}
*:focus {
  outline: none;
}
a {
  background: transparent;
  text-decoration: none;
  outline: none;
}
.m-agree {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.m-agree-disabled {
  opacity: 0.5;
}
.m-agree-checked .m-agree-icon {
  border-color: transparent;
}
.m-agree-checked .m-agree-icon .m-icon {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.m-agree-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 13px;
}
.m-agree-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin-right: 8px;
  margin-top: 2px;
}
.m-agree-icon .m-icon {
  font-size: 20px;
  color: #1890ff;
  -webkit-transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
  opacity: 0;
}
.m-button {
  line-height: 1.5;
  width: 100%;
  display: block;
  font-weight: 500;
  text-align: center;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 46px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #fff;
}
.m-button > .m-icon {
  line-height: 1;
}
.m-button,
.m-button:active,
.m-button:focus {
  outline: 0;
}
.m-button:not([disabled]):hover {
  text-decoration: none;
}
.m-button:not([disabled]):active {
  outline: 0;
  -webkit-transition: none;
  transition: none;
}
.m-button.disabled,
.m-button[disabled] {
  cursor: not-allowed;
}
.m-button.disabled > *,
.m-button[disabled] > * {
  pointer-events: none;
}
.m-button-lg {
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
  height: 60px;
}
.m-button-sm {
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
  height: 30px;
}
.m-button:hover,
.m-button:focus {
  color: #46a6ff;
  background-color: #fff;
  border-color: #46a6ff;
}
.m-button:active,
.m-button.active {
  color: #1789f2;
  background-color: #fff;
  border-color: #1789f2;
}
.m-button.disabled,
.m-button[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button.disabled:before,
.m-button[disabled]:before {
  display: block;
}
.m-button:hover,
.m-button:focus,
.m-button:active,
.m-button.active {
  background: #fff;
  text-decoration: none;
}
.m-button > .m-icon + span,
.m-button > span + .m-icon {
  margin-left: 8px;
}
.m-button:hover,
.m-button:focus,
.m-button:active {
  background: #fff;
  text-decoration: none;
}
.m-button-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.m-button-primary:hover,
.m-button-primary:focus {
  color: #fff;
  background-color: #46a6ff;
  border-color: #46a6ff;
}
.m-button-primary:active,
.m-button-primary.active {
  color: #fff;
  background-color: #1789f2;
  border-color: #1789f2;
}
.m-button-primary.disabled,
.m-button-primary[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-primary.disabled:before,
.m-button-primary[disabled]:before {
  display: block;
}
.m-button-ghost {
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border-color: #ebebeb;
}
.m-button-ghost:hover,
.m-button-ghost:focus {
  color: #46a6ff;
  background-color: transparent;
  border-color: #46a6ff;
}
.m-button-ghost:active,
.m-button-ghost.active {
  color: #1789f2;
  background-color: transparent;
  border-color: #1789f2;
}
.m-button-ghost.disabled,
.m-button-ghost[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-ghost.disabled:before,
.m-button-ghost[disabled]:before {
  display: block;
}
.m-button-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #ebebeb;
  border-style: dashed;
}
.m-button-dashed:hover,
.m-button-dashed:focus {
  color: #46a6ff;
  background-color: #fff;
  border-color: #46a6ff;
}
.m-button-dashed:active,
.m-button-dashed.active {
  color: #1789f2;
  background-color: #fff;
  border-color: #1789f2;
}
.m-button-dashed.disabled,
.m-button-dashed[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-dashed.disabled:before,
.m-button-dashed[disabled]:before {
  display: block;
}
.m-button-danger {
  color: #fff;
  background-color: #f5222d;
  border-color: #f5222d;
}
.m-button-danger:hover,
.m-button-danger:focus {
  color: #fff;
  background-color: #f74e57;
  border-color: #f74e57;
}
.m-button-danger:active,
.m-button-danger.active {
  color: #fff;
  background-color: #e9202b;
  border-color: #e9202b;
}
.m-button-danger.disabled,
.m-button-danger[disabled] {
  pointer-events: none;
  position: relative;
}
.m-button-danger.disabled:before,
.m-button-danger[disabled]:before {
  display: block;
}
.m-button-circle,
.m-button-circle-outline {
  width: 46px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 46px;
}
.m-button-circle.m-button-lg,
.m-button-circle-outline.m-button-lg {
  width: 60px;
  padding: 0;
  font-size: 18px;
  border-radius: 50%;
  height: 60px;
}
.m-button-circle.m-button-sm,
.m-button-circle-outline.m-button-sm {
  width: 30px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
  height: 30px;
}
.m-button:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: 0.35;
  content: "";
  border-radius: inherit;
  z-index: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
  display: none;
}
.m-button .m-icon {
  -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.m-button.m-button-loading:before {
  display: block;
}
.m-button.m-button-loading:not(.m-button-circle):not(.m-button-circle-outline) {
  padding-left: 29px;
  pointer-events: none;
  position: relative;
}
.m-button.m-button-loading:not(.m-button-circle):not(.m-button-circle-outline) .m-icon {
  margin-left: -14px;
}
.m-button-sm.m-button-loading:not(.m-button-circle):not(.m-button-circle-outline) {
  padding-left: 24px;
}
.m-button-sm.m-button-loading:not(.m-button-circle):not(.m-button-circle-outline) .m-icon {
  margin-left: -17px;
}
.m-button-inline {
  display: inline-block;
}
.m-button-inline:not(.m-button-circle):not(.m-button-circle-outline) {
  width: auto;
}
a.m-button {
  line-height: 44px;
}
a.m-button-lg {
  line-height: 58px;
}
a.m-button-sm {
  line-height: 28px;
}
.m-list {
  background-color: #fff;
}
.m-list-header {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  padding: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .m-list-header {
    border-bottom: none;
  }
  html:not([data-scale]) .m-list-header::after {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .m-list-header::after {
    -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.m-list-item {
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.m-list-item:active:after {
  display: block;
}
.m-list-item:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.03);
}
.m-list-item.m-list-item-right .m-list-item-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.m-list-item.m-list-item-center .m-list-item-content {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.m-list-item.m-list-item-disabled:active:after {
  display: none;
}
.m-list-item.m-list-item-disabled .m-list-item-label {
  opacity: 0.5;
}
.m-list-item.m-list-item-disabled .m-list-item-content {
  opacity: 0.5;
}
.m-list-item:last-child .m-list-item-inner::after {
  display: none;
}
.m-list-item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html:not([data-scale]) .m-list-item-inner {
    border-bottom: none;
  }
  html:not([data-scale]) .m-list-item-inner::after {
    content: '';
    position: absolute;
    background-color: #ebebeb;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  html:not([data-scale]) .m-list-item-inner::after {
    -webkit-transform: scaleY(0.33);
        -ms-transform: scaleY(0.33);
            transform: scaleY(0.33);
  }
}
.m-list-item-arrow {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-left: 6px;
}
.m-list-item-arrow-up .m-icon > svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.m-list-item-arrow-down .m-icon > svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.m-list-item-label {
  font-size: 14px;
  width: 6em;
}
.m-list-item-title {
  color: rgba(0, 0, 0, 0.85);
}
.m-list-item-brief {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  padding-top: 4px;
}
.m-list-item-extra {
  margin-right: 8px;
}
.m-list-item-content {
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 6px;
}
.m-notice-bar {
  position: relative;
  color: #fff;
  height: 36px;
  line-height: 36px;
  background-color: #4a4c5b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}
.m-notice-bar-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 10px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-notice-bar-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
.m-notice-bar-icon + div {
  margin-left: 10px;
}
.m-notice-bar-close-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  color: #fff;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.m-demo-header {
  font-size: 22px;
  font-weight: 400;
  color: #333;
  margin: 12px 16px;
  margin-bottom: 22px;
}
.m-demo-title {
  font-size: 22px;
  font-weight: 500;
  color: #333;
  margin: 10px 0;
}
.m-demo-subtitle {
  font-size: 14px;
  color: #666;
  margin: 0;
}
.m-demo-content {
  margin: 12px;
}
.m-demo-category {
  background-color: #fff;
  border-top: 1px solid #f5f5f5;
}
.m-demo-category-title {
  padding: 14px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.m-demo-category-arrow {
  font-size: 12px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.m-demo-category-item {
  border-top: 1px solid #f5f5f5;
  padding: 12px 16px;
  color: #666;
  font-size: 14px;
}
.m-demo-category-open .m-demo-category-list {
  display: black !important;
}
.m-demo-category-open .m-demo-category-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.m-demo-category-closed .m-demo-category-list {
  display: none !important;
}
.demoName {
  font-size: 19px;
  color: #404040;
  padding: 21px 0 21px 15px;
  text-align: left;
  height: 20px;
}
.demoName .icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url(https://zos.alipayobjects.com/rmsportal/RfxDFanyfhEhOkynbPXizskAQqkPmPkR.png);
  background-size: cover;
  vertical-align: -1px;
  margin-right: 30px;
  position: relative;
}
.demoName .icon:after {
  content: "";
  position: absolute;
  top: 2.5px;
  right: -15px;
  width: 1px;
  height: 15px;
  background-color: #ceced1;
}
.demoName .ch {
  margin-left: 9px;
  font-size: 15px;
  color: #888;
}
.demoTitle {
  padding: 16px;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  font-weight: bolder;
  position: relative;
}
