@hd: 1px; // 基本单位

@font: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: @font;
}

.m-demo {
  &-header {
    font-size: 22px;
    font-weight: 400;
    color: #333;
    margin: 24px;
    text-align: center;

    img {
      width: 40%;
    }
  }

  &-title {
    font-size: 22px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    font-family: DINAlternate-Bold;
  }

  &-subtitle {
    font-size: 14px;
    color: #88889c;
    margin: 0;
  }

  &-content {
    margin: 16px;
  }

  &-category {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    margin-bottom: 16px;

    &-title {
      padding: 16px;
      color: #6a6a77;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
    }

    &-arrow {
      font-size: 12px;

      i {
        transition: transform 0.3s ease;
      }
    }

    &-item {
      border-top: 1px solid #f5f5f5;
      padding: 12px 16px;
      color: #88889c;
      font-size: 14px;
    }

    &-open {
      .m-demo-category-list {
        display: black !important;
      }

      .m-demo-category-arrow {
        i {
          transform: rotate(180deg);
        }
      }
    }

    &-closed {
      .m-demo-category-list {
        display: none !important;
      }
    }
  }
}
